@model TravelExpertsGUI.Models.UpdateViewModel
@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>
<hr />
<form asp-action="Profile" class="bg-light" method="post">
    <div class="form-group">
        <label asp-for="CustUsername" class="control-label">Username:</label>
        <input asp-for="CustUsername" class="form-control" />
        <span asp-validation-for="CustUsername" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CustEmail" class="control-label">Email:</label>
        <input asp-for="CustEmail" type="email" class="form-control" />
        <span asp-validation-for="CustEmail" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CustFirstName" class="control-label">First Name:</label>
        <input asp-for="CustFirstName" class="form-control" />
        <span asp-validation-for="CustFirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CustLastName" class="control-label">Last Name:</label>
        <input asp-for="CustLastName" class="form-control" />
        <span asp-validation-for="CustLastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CustAddress" class="control-label">Address:</label>
        <input asp-for="CustAddress" class="form-control" />
        <span asp-validation-for="CustAddress" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CustCity" class="control-label">City:</label>
        <input asp-for="CustCity" class="form-control" />
        <span asp-validation-for="CustCity" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CustProv" class="control-label">Province:</label>
        <input asp-for="CustProv" class="form-control" />
        <span asp-validation-for="CustProv" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CustPostal" class="control-label">Postal Code:</label>
        <input asp-for="CustPostal" class="form-control" />
        <span asp-validation-for="CustPostal" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CustCountry" class="control-label">Country:</label>
        <input asp-for="CustCountry" class="form-control" />
        <span asp-validation-for="CustCountry" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CustHomePhone" class="control-label">Home Phone:</label>
        <input asp-for="CustHomePhone" class="form-control" />
        <span asp-validation-for="CustHomePhone" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CustBusPhone" class="control-label">Business Phone:</label>
        <input asp-for="CustBusPhone" class="form-control" />
        <span asp-validation-for="CustBusPhone" class="text-danger"></span>
    </div>
    <div class="form-group text-center">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>

@section Scripts {
    await Html.RenderPartialAsync("_ValidationScriptsPartial")
}