@{
    ViewData["Title"] = "Signup";
}
<!-- Main Container -->
<fieldset class="outter-container">
    <table class="table2">
        <tr>
            <th>
                <div class="inner-container">
                    <h1 class="title">Register</h1>
                    <hr />

                    <div class="outter-bubble">
                        <table class="table2">
                            <tr>
                            <th class="bubble">

                            <!-- Form Submission -->
                            <form asp-action="RegisterUser" method="POST" id="registerForm" name="registerForm">
                                <div class="registerForms">

                                    <!-- Dynamic Input Description -->
                                    <div class="inputDescription">
                                        <p id="inputDescription" class="strongPassword">Loading...</p>
                                    </div>

                                    <!-- Email -->
                                    <div class="registerBlock">
                                        <p class="registerLabel">Email: </p>
                                        <input required class="inputBox"
                                               autocomplete="email"
                                               onfocus="registerInputFocus('registerEmail');"
                                               onblur="registerInputBlur();"
                                               placeholder="Email" type="email"
                                               name="email"
                                               id="registerEmail" />
                                    </div>     
                                    
                                    <!-- First Name -->
                                    <div class="registerBlock">
                                        <p class="registerLabel">First Name: </p>
                                        <input required class="inputBox"
                                               placeholder="First Name" type="text"
                                               name="firstname"
                                    </div>       
                                    
                                    <!-- Last Name -->
                                    <div class="registerBlock">
                                        <p class="registerLabel">Last Name: </p>
                                        <input required class="inputBox"
                                               placeholder="Last Name" type="text"
                                               name="lastname"
                                    </div>   
                                    
                                    <!-- Address -->
                                    <div class="registerBlock">
                                        <p class="registerLabel">Address: </p>
                                        <input required class="inputBox"
                                               placeholder="Address" type="text"
                                               name="address"
                                    </div>    
                                    
                                    <!-- Home Phone -->
                                    <div class="registerBlock">
                                        <p class="registerLabel">Home Phone: </p>
                                        <input required class="inputBox"
                                               placeholder="Home Phone" type="text"
                                               name="homephone"
                                    </div>
                                    
                                    <!-- Business Phone -->
                                    <div class="registerBlock">
                                        <p class="registerLabel">Business Phone: </p>
                                        <input class="inputBox"
                                               placeholder="Business Phone" type="text"
                                               name="busphone"
                                    </div>

                                    <!-- Username -->
                                    <div class="registerBlock">
                                        <p class="registerLabel">Username: </p>
                                        <input required class="inputBox"
                                               autocomplete="name"
                                               onfocus="registerInputFocus('registerUsername');"
                                               onblur="registerInputBlur();"
                                               placeholder="Username" type="name"
                                               name="username"
                                               id="registerUsername" />
                                    </div>

                                    <!-- Password -->
                                    <div class="registerBlock">
                                        <p class="registerLabel">Password: </p>
                                        <input required class="inputBox"
                                               onfocus="registerInputFocus('registerPassword1');"
                                               onblur="registerInputBlur();"
                                               oninput="checkPasswordStrength(); matchPassword();"
                                               placeholder="Password" type="password"
                                               name="password"
                                               id="registerPassword1" />
                                    </div>

                                    <!-- Confirm Password -->
                                    <div class="registerBlock">
                                        <p class="registerLabel">Confirm Password: </p>
                                        <input required class="inputBox"
                                               onfocus="registerInputFocus('registerPassword2');"
                                               onblur="registerInputBlur();"
                                               oninput=" matchPassword();"
                                               placeholder="Confirm Password" type="password"
                                               name="confirmpassword"
                                               id="registerPassword2" />
                                    </div>

                                    <!-- Country -->
                                    <div class="registerBlock">
                                        <p class="registerLabel">Country: </p>
                                        <select id="registerCountry"
                                                name="country"
                                                onfocus="registerInputFocus('registerCountry');"
                                                onblur="registerInputBlur();"
                                                onchange="changeCountry(this);">
                                            <option id="Canada" name="Canada" value="country1">Canada</option>
                                            <option id="USA" name="USA" value="country2">USA</option>
                                        </select>
                                        <br>
                                    </div>

                                    <!-- Province/State -->
                                    <div class="registerBlock">
                                        <p id="provinceText" class="registerLabel provinceText">Province</p>
                                        <input required class="inputBox"
                                               onfocus="registerInputFocus('registerProvince');"
                                               onblur="registerInputBlur();"
                                               placeholder="Province" type="state"
                                               name="province"
                                               id="registerProvince" />
                                    </div>

                                    <!-- City -->
                                    <div class="registerBlock">
                                        <p class="registerLabel">City: </p>
                                        <input required class="inputBox"
                                               onfocus="registerInputFocus('registerCity');"
                                               onblur="registerInputBlur();"
                                               placeholder="City" type="city"
                                               name="city"
                                               id="registerCity" />
                                    </div>

                                    <!-- Postal/Zip Code -->
                                    <div class="registerBlock">
                                        <p id="postalCodeText" class="registerLabel">Postal Code: </p>
                                        <input required class="inputBox"
                                               onfocus="registerInputFocus('postalCode');"
                                               onblur="registerInputBlur();"
                                               placeholder="Postal Code" type="text"
                                               name="postalcode"
                                               id="postalCode" />
                                    </div>

                                    <!-- Password Strength -->
                                    <div class="passStrength">
                                        <h2 id="strongPassword"
                                            class="strongPassword">
                                            Password Strength: WEAK
                                            ⛔
                                        </h2>
                                    </div>

                                    <!-- Do Passwords Match -->
                                    <div class="passwordMatch">
                                        <h2 id="passwordMatch"
                                            class="strongPassword">
                                            Password must not be
                                            empty.
                                        </h2>
                                    </div>


                                    <!-- Robot Check / Agree to terms -->
                                    <div class="bubble2">
                                        <div class="robotCheck">
                                            <p class="robotCheck">
                                                I agree to the
                                                <a class="termsText"
                                                   href="./terms-conditions.html">
                                                    terms
                                                    and conditions
                                                </a>
                                            </p>
                                            <input type="checkbox" id="robotCheck"
                                                   required />
                                        </div>
                                    </div>

                                    <div>

                                        <!-- Reset Form Button -->
                                        <button type="reset"
                                                onclick="return resetButton()"
                                                class="btn btn-primary button">
                                            Reset
                                        </button>

                                        <!-- Sign Up Button -->
                                        <input value="Sign Up" type="submit"
                                               class="btn btn-primary button">
                                    </div>
                                </div>
                            </form>
                        </table>
                    </div>
                </div>
            </th>
        </tr>
    </table>
</fieldset>