@{
    ViewData["Title"] = "Book Now!";
}

<table class="table table-dark">
    <thead>
        <tr class="justify-content-center align-items-center">
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody class="text-center justify-content-center">
        <tr class="text-center justify-items-center">
            <th class="text-center" scope="row">1</th>
            <td class="py-2">Mark</td>
            <td class="my-2">Otto</td>
            <td class="text-center">
                <button class="btn btn-outline-primary btn-xs">Purchase</button>
            </td>
        </tr>
    </tbody>
</table>